<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Om</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <nav>
        <ul>
            <li><a href="/">Startsida</a></li>
            <li><a href="/add">Ny kurs</a></li>
            <li><a href="/about">Om</a></li>
        </ul>
    </nav>

    <h1>Om</h1>
</body>

</html>