<!DOCTYPE html>
<html lang="sv">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ny kurs</title>
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <header>
        <nav>
            <div id="float">
                <a href="/">Startsida</a>
                <a href="/add">Ny kurs</a>
                <a href="/about">Om</a>
            </div>
        </nav>
    </header>

    <main>
        <h1>Lägg till ny kurs</h1>

        <form method="post" action="/add" id="courseForm">
            <label for="courseCode"><strong>Kurskod:</strong></label>
            <br>
            <input type="text" id="courseCode" name="coursecode" required>
            <br><br>
            <label for="courseName"><strong>Kursnamn:</strong></label>
            <br>
            <input type="text" id="courseName" name="coursename" required>
            <br><br>
            <label for="courseUrl"><strong>URL till kursplan:</strong></label>
            <br>
            <input type="url" id="courseUrl" name="courseurl" required>
            <br><br>
            <label for="courseProgression"><strong>Progression:</strong></label>
            <br>
            <select id="courseProgression" name="courseprogression">
                <option value="A">A</option>
                <option value="B">B</option>
                <option value="C">C</option>
            </select>
            <br><br>
            <button id="submit" type="submit">Spara kurs</button>
            <button type="reset">Rensa formulär</button>
        </form>
    </main>

    <footer>
        <p>Laborationsuppgift för kursen DT207G, Backend-baserad webbutveckling <br> &copy; Copyright Emma
            Larsson,
            2024
        </p>
    </footer>

</body>

</html>